<link rel="stylesheet" href="/assets/style.css">
<app-nav></app-nav>
<div class="page">
<div class="scrollable-container">
  <div *ngIf=!isJamSelected class="card-container">
    <div *ngFor="let card of jamCard" class="jam-card" style="background-image: url('/assets/images/jam/{{ card.place.background }}');">

      <div class="date">
        <h4 >{{ card.timeStart | date: 'dd/MM/yyyy' }}</h4>
      </div>

      <div class="place">
        <h3>{{ card.place.name }}</h3>

      <div class="address">
        <span>
          {{ card.place.addressNumber }} {{ card.place.road}} <br>
          {{ card.place.city}}
        </span>
      </div>

      <p>{{ card.timeStart | date: 'HH:mm' : '+0000' }} - {{ card.timeEnd | date: 'HH:mm' : '+0000' }}</p>

      <div class="rs-link">
        <img src="/assets/icons/insta.svg">
        <img src="/assets/icons/fb.svg">
      </div>
    </div>
    </div>
  </div>
  <div *ngIf=isJamSelected class="jam-container">

  </div>
</div>
</div>
