p {
  margin: 0px;
}

.back-button {
  position: absolute;
  text-decoration: none;
  color: white;
  height: 5rem;
  width: 5rem;
  padding: 1rem;
}

.back-button mat-icon {
  font-size: 3.5rem;
  height: 5rem;
  width: 5rem;

}

.back-button mat-icon svg {
  fill: rgba(0, 0, 0, 0);
}

.top-page {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5rem;
  margin-left: 1rem;
}

.event-images img {
  border-radius: 1.5rem;
}

.event-header {
  display: flex;
  flex-direction: column;
  margin-right: 10rem;
}

h3 {
  margin: 0;
  padding: 0;
}

h4 {
  margin: 0;
  padding: 0;
}

.event-title {
  display: flex;
  color: white;
  margin-left: 0.5rem;
  font-family: 'Bright';
  font-size: 64px;
  margin: 0;
  white-space: nowrap;
  flex-wrap: wrap; 
  max-width: 100%; 
  overflow-wrap: break-word;
}

.time {
  display: flex;
  justify-content: space-between;
  font-family: 'Bright';
  font-size: 40px;
  color: white;
}

.city {
  color: rgb(179, 211, 226);
}

.description {
  padding: 1rem;
  margin-top: 1rem;
  color: white;
  font-family: 'Inter';
  font-size : 24px;
}

.event-background {
  object-fit: cover;
  width: 40rem;
  height: 30rem;
  margin-right: 5rem;
}

.bottom-page {
  color: white;
  margin-left: 5rem;
}

mat-divider {
  background-color: white;
  margin-bottom: 2rem;
  margin-right: 5rem;
}

.tab {
  display: flex;
  flex-direction: row;
}

.event-details {
  display: flex;
  margin-left: 4rem;
  font-family: 'Inter';
  font-size: 24px;
  margin-right: 1.5rem;
}

.image-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin-left: 5rem;
  max-height: 25rem;
  overflow-y: scroll;
  padding: 1rem;
  scrollbar-width: none;
}

.image-details::-webkit-scrollbar {
  display: none;
}

.event-details img {
  height: 10rem;
  width: 10rem;
  object-fit: cover;
}

app-maps {
  margin-bottom: 3rem;
}

.project-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.info-visual {
  display: flex;
}

.project-visual {
  max-width: 200px;
}

.project-visual img {
  width: 200px;
  height: 200px;
  display: block;
  object-fit: cover;
}

.project-infos {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 1rem;
}


.project-infos p {
  margin: 5px 0;
}

.project-photos {
  display: flex;
  justify-content: flex-end;
  margin-right: 5rem;
  gap: 1rem;
}

.project-photos img {
  object-fit: cover;
  max-width: 12rem;
  max-height: 12rem;
  cursor: pointer;
}

@media (min-width: 1280px) and (max-width: 1599px) {

 .event-header {
  margin-right: 5rem;
 }

 .event-background {
  width: 30rem;
  height:  22rem;
 }

 .event-details {
  flex-direction: column;
 }

 .image-details {
  margin-top: 1rem;
  margin-left: 0;
  max-height: 15rem;
 }


}

@media (min-width: 769px) and (max-width: 1279px) {
  .top-page {
    flex-direction: column-reverse;
    padding: 0px;
    margin: 0px;
  }

  .event-title {
    margin-left: 2rem;
  }

  .time {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .event-images {
    margin-bottom: 2rem;
  }

  .event-images img {
    border-radius: 0;
  }

  .event-header {
    margin-right: 0;
  }

  .event-background {
    width: 100%;
    height: 30rem;
    margin-right: 0;
  }

  .event-details {
    flex-direction: column;
  }

  .image-details {
    grid-template-columns: 1fr;
    max-height: 15rem;
    margin-top : 2rem;
    margin-bottom : 2rem;
    margin-left: 0px;
  }

  app-maps {
    margin-bottom: 1rem;
  }

  .project-photos {
    flex-direction: column;
  }

  .project-photos img {
    max-height: 5rem;
    min-width: 5rem;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .top-page {
    flex-direction: column-reverse;
    padding: 0px;
    margin: 0px;
  }

  .event-images {
    margin-bottom: 2rem;
  }

  .event-header {
    margin-right: 0;
    padding: 1rem;
  }

  .event-background {
    width: 100%;
    height: 30rem;
    margin-right: 0;
  }

  .event-images img {
    border-radius: 0;
  }

  .event-details {
    display: flex;
    flex-direction: column;
    margin-left: 0px;
  }

  .image-details {
    grid-template-columns: 1fr 1fr;
    margin-left: 0px;
    margin-top : 2rem;
    margin-bottom : 2rem;
  }

  .tab {
    display: flex;
    flex-direction: column;
  }

  app-maps {
    margin-bottom: 2rem;
  }

  p {
    margin: 0px;
  }
   
  .bottom-page {
    margin-left: 3rem;
  }

  .info-visual {
    flex-direction: column;
  }

  .project-photos {
    flex-direction: column;
    justify-content: flex-start;
    overflow-y: scroll;
    scrollbar-width: none;
  }
}

@media (min-width: 375px) and (max-width: 480px) {
  .top-page {
    flex-direction: column-reverse;
    padding: 0px;
    margin: 0px;
  }

  .event-images {
    margin-bottom: 2rem;
  }

  .event-header {
    margin-right: 0;
    padding: 1rem;
  }

  .event-title {
    font-size: 48px;
    margin-left: 1rem;
  }

  .time {
    font-size: 24px;
    margin-left: 1rem;
  }

  .event-background {
    width: 100%;
    height: 20rem;
    margin-right: 0;
  }

  .event-images img {
    border-radius: 0;
  }

  .event-details {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
  }

  .image-details {
    grid-template-columns: 1fr 1fr;
    margin-left: 0px;
    margin-top : 2rem;
    margin-bottom : 2rem;
  }

  .tab {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  mat-divider {
    margin-right: 0;
  }

  app-maps {
    margin-bottom: 1rem;
    margin-left: 0;
  }

  .bottom-page {
    margin-left: 0;
  }

  .info-visual {
    flex-direction: column;
    margin-left: 2rem;
  }

  .project-photos {
    flex-direction: column;
    justify-content: flex-start;
    margin-right: 1rem;
    overflow-y: scroll;
    scrollbar-width: none;
  }
}

@media (max-width: 374px) {
  .top-page {
    flex-direction: column-reverse;
    padding: 0px;
    margin: 0px;
  }

  .event-images {
    margin-bottom: 2rem;
  }

  .event-header {
    margin-right: 0;
    padding: 1rem;
  }

  .event-title {
    font-size: 48px;
    margin-left: 1rem;
  }

  .time {
    font-size: 24px;
    margin-left: 1rem;
  }

  .event-background {
    width: 100%;
    height: 20rem;
    margin-right: 0;
  }

  .event-images img {
    border-radius: 0;
  }

  .event-details {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
  }

  .image-details {
    grid-template-columns: 1fr;
    margin-left: 0px;
    margin-top : 2rem;
    margin-bottom : 2rem;
  }

  .tab {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  mat-divider {
    margin-right: 0;
  }

  app-maps {
    margin-bottom: 1rem;
    margin-left: 0;
  }

  .bottom-page {
    margin-left: 0;
  }

  .info-visual {
    flex-direction: column;
    margin-left: 2rem;
  }

  .project-photos {
    flex-direction: column;
    justify-content: flex-start;
    margin-right: 1rem;
    overflow-y: scroll;
    scrollbar-width: none;
  }
}
