<a href="/" class="back-button"><mat-icon fontSet="material-icons-outlined">arrow_circle_left</mat-icon></a>
<span class="top-page">
  <div class="event-header">
    <div class="text">
    <div class="event-title">
      <ng-container *ngIf="this.hasProject()">
        <ng-container *ngFor="let project of event.projects; let i = index">
          <h3>{{ project.name }}</h3>
          <h3 *ngIf="i < event.projects.length - 1">&nbsp;x&nbsp;</h3>
        </ng-container>
        <h4>&nbsp;- {{ event.place.name }}</h4>
      </ng-container>
      <h3 *ngIf="!this.hasProject()">{{ event.place.name }}</h3>
    </div>
    </div>
    <div class="time">
      <p>{{ this.formatDate(event.time_start) }}</p>
      <p>{{ event.time_start | date: 'HH:mm' : '+0000' }} - {{ event.time_end | date: 'HH:mm' : '+0000' }}</p>
    </div>
    <div class="description">
      <p>{{ event.description }}</p>
    </div>
  </div>

  <div class="event-images">
    <img class="event-background" src="assets/events/{{event.background}}" alt="Event Background">  
  </div>
</span>

<mat-tab-group animationDuration="0ms" [color]="'primary'" class="bottom-page" mat-stretch-tabs="false" mat-align-tabs="start">
  <mat-tab label="Carte" animationDuration="0ms">
    <mat-divider></mat-divider>
    <div class="tab">
      <app-maps [event]="event"></app-maps>
      <div class="event-details">
        <div class ="event-address">
          <p class="place-name">{{ event.place.name }}</p><br>
          <p>{{ event.place.address_number }} {{ event.place.road }}</p>
          <p class="city">{{ event.place.city.name }} <ng-container *ngIf="event.place.borough">- {{ event.place.borough }}</ng-container></p>
        </div>
        <span class="image-details">
          <img *ngFor="let photo of event.photos" src="assets/photo/{{ photo.filename }}" alt="photo"
               (click)="openImageDialog('assets/photo/' + photo.filename)">
          <img *ngFor="let photo of event.place.photos" src="assets/photo/{{ photo.filename }}" alt="photo"
               (click)="openImageDialog('assets/photo/' + photo.filename)">
        </span>
      </div>
    </div>
  </mat-tab>

  <mat-tab label="Artistes" *ngIf="this.hasProject()" animationDuration="0ms"> 
    <mat-divider></mat-divider>
      <div class="project" *ngFor="let project of event.projects; let i = index">
        <div class="project-container">
          <div class="info-visual">
            <div class="project-visual">
              <img src="assets/projects/{{ project.visual }}">
            </div>
            <div class="project-infos">
                <h4>{{ project.name }}</h4>
                <p>{{ project.description }}</p>
                <div class="rs">
                  <p *ngIf="project.facebook">facebook : &#64;{{ project.facebook }}</p>
                  <p *ngIf="project.instagram">instagram : &#64;{{ project.instagram }}</p>
                  <p *ngIf="project.youtube">youtube : &#64;{{ project.youtube }}</p>
                </div>
            </div>
          </div>
          <div class="project-photos">
            <img *ngFor="let photo of getLimitedPhotos(project.photos)" src="assets/photo/{{ photo.filename }}" alt="photo"
            (click)="openImageDialog('assets/photo/' + photo.filename)">
          </div>
        </div>
        <mat-divider *ngIf="i < event.projects.length - 1"></mat-divider>
     </div>
    </mat-tab>
</mat-tab-group>


  
