
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the theme object.
$m2-indigo-palette: (
 50: #2c2c2c,
 100: #2c2c2c,
 200: #2c2c2c,
 300: #2c2c2c,
 400: #2c2c2c,
 500: #2c2c2c,
 600: #2c2c2c,
 700: #2c2c2c,
 800: #2c2c2c,
 900: #2c2c2c,
  contrast: (
   50: rgba(black, 0.2),
   100: rgba(black, 0.3),
   200: rgba(black, 0.4),
   300: rgba(black, 0.5),
   400: rgba(black, 0.6),
   500: rgba(black, 0.7),
   600: rgba(black, 0.8),
   700: rgba(black, 0.9),
   800: rgba(black, 1),
   900: rgba(black, 0.1)
 )
);

$myapp-theme-primary: mat.m2-define-palette(($m2-indigo-palette));
$myapp-theme-accent: mat.m2-define-palette(mat.$m2-indigo-palette);
$myapp-theme-warn: mat.m2-define-palette(mat.$m2-red-palette);

$myapp-theme: mat.m2-define-dark-theme((
  color: (
    primary: $myapp-theme-primary,
    accent: $myapp-theme-accent,
    warn: $myapp-theme-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
:root {
  @include mat.all-component-themes($myapp-theme);
}

// Comment out the line below if you want to use the pre-defined typography utility classes.
// For more information: https://material.angular.io/guide/typography#using-typography-styles-in-your-application.
// @include mat.typography-hierarchy($front_majama-theme);

// Comment out the line below if you want to use the deprecated `color` inputs.
// @include mat.color-variants-backwards-compatibility($front_majama-theme);
