/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'Bright';
    src: url('/assets/font/bright-regular-1.ttf') format('ttf');
    font-weight: 100;
    font-style: sans-serif;
  }


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:root {
  background-color: #181818; 
}

@media (min-width: 1280px) {
  :root {
      background-image: url('assets/background/Background-left.svg'), url('assets/background/Background-right.svg');    
      background-position: top left, top right;
      background-repeat: no-repeat;
      background-size: auto, auto;
  }
}
@media (min-width: 769px) and (max-width: 1279px) {
  :root {
    background-image: url('assets/background/background.svg');
    background-repeat: no-repeat;
    background-size: auto;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  :root {
    background-image: url('assets/background/background.svg');
    background-repeat: no-repeat;
    background-size: auto;
  }
}  

@media (max-width: 480px) {
  :root {
    background-image: url('assets/background/background.svg');
    background-repeat: no-repeat;
    background-size: auto;
  }
}