@font-face {
  font-family: 'Bright';
  src: url('/assets/fonts/Bright.ttf') format('truetype');
}
.title-container {
  margin-top: 5.5rem;
  height: 30vh;
  display : flex;
  justify-content: center;
  align-items: center;
}

.menu-container {
  height : 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2%;
}

.menu-card {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 80%;
  width: 12%;
  cursor: pointer;
  border-radius: 0.8rem;
  box-shadow: 0.1rem 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
}

h3 {
  text-transform: uppercase;
  font-family: 'Bright';
  font-weight: 500;
  font-size: 2rem;
}

.menu-card:hover {
  transform: scale(1.15);
  transition-duration: 0.5s;
  text-decoration: underline;
}

.menu-title {
  display: flex;
  justify-content: center;
  background-color: #d9d9d97c;
  width: 100%;
  border-radius: 0 0 0.8rem 0.8rem;
}

#jam {
  background-image: url('/assets/images/jam.png');
  background-size: cover;
}

#concert {
  background-image: url('/assets/images/concert.png');
  background-size: cover;
}

#news {
  background-image: url('/assets/images/news.png');
  background-size: cover;
}

#roaster {
  background-image: url('/assets/images/roaster.png');
  background-size: cover;
}

#presta {
  background-image: url('/assets/images/presta.png');
  background-size: cover;
}

#contact {
  background-image: url('/assets/images/contact.png');
  background-size: cover;
}
